accelerate
beautifulsoup4
cassio
chromadb
faiss-cpu
fastapi
groq
huggingface_hub
ipykernel
jupyter
langchain
langchain-astradb
langchain-chroma
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
lxml
numexpr
numpy
ollama
openai
openpyxl
pandas
pydantic
pymysql
pypdf
python-dotenv
scikit-learn
sentence-transformers
sqlalchemy
streamlit
tiktoken
torch
transformers
uvicorn
wikipedia
youtube-transcript-api
